{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.first_name}}  {{contact.last_name}}
        <h1>
        <p><b>ID:</b> {{ contact.id }}</p>
        <p><b>Email:</b> {{ contact.email }}</p>
        <p><b>Phone:</b> {{ contact.phone }}</p>
        <p><b>Date created:</b> {{ contact.created_data }}</p>
        <p><b>Description:</b> {{ contact.description }}</p>
        <p><b>Category:</b> {{ contact.category.name }}</p>
        <p><b>Owner:</b> {{ contact.owner.username }}</p>
        {% if contact.picture %}
        <p><b>Image:</b>
            <img src="{{ contact.picture.url }}" alt = "{{contact.first_name}} {{contact.last_name}}">
        </p>
        {% endif %}
        {% comment " the if here is just to not appear the buttons update and delete is user not loggined and owner is user" %}{% endcomment %}
        {% if user.is_authenticated and user == contact.owner %}
        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>
      
            <form action="{% url "contact:delete" contact.id %}" method="POST">
              {% csrf_token %}
                {% if confirmation == 'no' %}
                    <input type="hidden" name='confirmation' value="yes">
                    <button class="btn btn-link btn-delete" type="submit">Confimation?</button>
                {% else %} 
                    <button class="btn btn-link btn-delete" type="submit">Delete</button>
                {% endif %}
            </form>
          </div>
          {% endif %}
    </div>
{% endblock content %}